body{
	margin: 0px;
	height: 100%;
	
}
div.title{
	position: relative;
	clear: both;
	height:60px;
}
div.title .titletext{
	color: #333333;
	padding:2px;
	margin:2px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 37px;
    letter-spacing: 3px;
	float: left;
}
div.title .clock{
	
	color:#333333;
	padding:5px;
	margin:5px;
	font-family: "Segoe UI",Arial,sans-serif;
    font:bold 18pt sans;
	
 /*   background:#ddf;
  border:solid black 2px
    border-radius:5px;*/
	float:right;
	position: relative;
}
