div.album{
	position:relative;
	height: 100%;
}
ul.sidetab {
	position:absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 1px solid #ccc;
	
	width: 72px;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.sidetab li {
		float: left;
		clear: both;		
}

/* Style the links inside the list items */
ul.sidetab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;

}

/* Change background color of links on hover */
ul.sidetab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.sidetab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.sidetabcontent {
	position: relative;
	margin-left: 72px;
    display: none;
    padding: 6px 12px;
/*    border: 1px solid #ccc;*/
    border-top: none;
	overflow: auto;
}
