<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<script src="static/title/titleclock.js"> </script>
		<script src="static/home.js"> </script>
		<link rel="stylesheet" href="static/title/title.css">
		<link rel="stylesheet" href="static/topnavbar/topnavbar.css">
	</head>
	<body>
		<div class="title">
			<span class="titletext">OUR WORLD</span>
			<span class="clock" id="clock"></span>
		</div>
		<div class="topnav">
			<ul class="topnavbar">
				<li><a class="topnavbar-active" >Home</a></li>
				<li><a href="photo">Photo</a></li>
				<li><a href="#contact">Contact</a></li>
				<li style="float:right;""><a href="#about" >About</a></li>
			</ul>
		 </div>
		 <div class="sm">
		 
		 </div>

		
	</body>
</html>