<!DOCTYPE html>
<html>
	<head>
		<title>Photo</title>
		<link rel="stylesheet" href="static/title/title.css">
		<link rel="stylesheet" href="static/topnavbar/topnavbar.css">
		<link rel="stylesheet" href="static/sidetab/sidetab.css">
		<link rel="stylesheet" href="static/img.css">
		<script src="static.jquery.js"></script>
		<script src="static/sidetab/sidetab.js"> </script>
		<script src="static/title/titleclock.js"> </script>
		<script src="static/photo.js"> </script>
		
	</head>
	<body>
		<div class="title">
			<span class="titletext">OUR WORLD</span>
			<span class="clock" id="clock"></span>
		</div>
		<div class="topnav">
			<ul class="topnavbar">
				<li><a href="/" >Home</a></li>
				<li><a class="topnavbar-active">Photo</a></li>
				<li><a href="#contact">Contact</a></li>
				<li style="float:right;"><a href="#about" >About</a></li>
			</ul>
		 </div>
		 
		 
		<div class="album" id="album">
			<ul class="sidetab" id="sidetab"></ul>
		</div>

		
	</body>
</html>